<div class="container">
    <div class='col-md-2'></div>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="col-md-8">
            <label for="inputlg">Enter friend Email</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
                <input class=" form-control input-lg" id="inputlg" type="text" [(ngModel)]="friendemail" name="friendemail"></div>


            <label for="inputlg"></label>
            <div style="text-align:right">


                <button class="btn btn-default btn-lg glyphicon glyphicon-plus" id="inp" type="submit" value="Add Friend">Add</button></div>
            <p class="error"> {{error}}</p>
            <p class="msg"> {{msg}}</p>
        </div>
    </form>
</div>
<br/>

<div class='container '>
    <div class='col-md-2'></div>
    <div class="panel panel-default col-md-8">
        <div class="header">
            <div class='glyphicon glyphicon-user'> </div>
            Friends' List </div>
        <hr/>




        <!--<div class="panel-body">-->
            <!--<div class="media">-->
                <!--<div class="media-left">-->
                    <!--<img src="{{newfriend.avatar}}" class="media-object" style="width:60px">-->
                <!--</div>-->
                <!--<div class="media-body">-->
                    <!--<h4 class="media-heading">{{newfriend.name}}</h4>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="panel-body" *ngFor="let friend of friends">
            <div class="media">
                <div class="media-left">
                    <img src="data:image/png;base64,{{friend.avatar}}" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{friend.username}}</h4>
                    <a class="bt btn btn-danger btn-sm glyphicon glyphicon-remove" id={{friend._id}} (click)="unfriend($event)" type="submit">unfriend</a>
                </div>

            </div>
        </div>

        <div class='col-md-2'></div>
    </div>
</div>
