<div class="container">
    <div class='col-md-2'></div>


    <div class="col-md-8">
        <label for="inputlg">Enter friend Email</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
            <input class=" form-control input-lg" id="inputlg" type="text"></div>


        <label for="inputlg"></label>
        <div style="text-align:right">



            <input class="btn btn-default btn-lg" id="inp" type="submit" value="Add Friend"></div>
    </div>
</div>
<br/>

<div class='container '>
    <div class='col-md-2'></div>
    <div class="panel panel-default col-md-8">
        <div class="header">
            <div class='glyphicon glyphicon-user'> </div>
            Friends' List </div>
        <div class="panel-body">Panel Content</div>
        <div class='col-md-2'></div>
    </div>
</div>