<div class="container">

    <div class='col-md-2'></div>
    <div class="panel panel-default col-md-8">
        <div class="header">
            <div class='glyphicon glyphicon-list-alt'> </div> notifications
        </div>

        <div class="panel-body">




            <div class="media" *ngFor="let notification of notifications">
                <hr/>
                <div class="media-body">

                    <div class="media-left">
                        <p>{{notification?.msg[0].name}} {{notification?.msg[1]}} {{notification?.msg[2]?.name}} <button class="btn btn-info" (click)="join(notification)" *ngIf="invited(notification?.msg[1])" style="margin-left:100%;margin-top:-10%">join order now </button></p>

                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class='col-md-2'></div>

</div>