<body>

    <div class="container">
        <div style="text-align:right">
            <a class="btn btn-default btn-lg" id="inp" type="submit" [routerLink]="['/addorder']">New Order</a>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Restourants</th>
                    <th>Invited</th>
                    <th>Joined</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.forr}}</td>
                    <td>{{order.resturant}}</td>
                    <td>{{order.invited_no}}</td>
                    <td>{{order.joined_no}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <a class="btn btn-default btn-sm" id="inp" type="submit" id={{order.id}} (click)="view($event)">View</a>
                        <a *ngIf="hidebutton(order.status)" class="btn btn-default btn-sm" id={{order.id}} (click)="finish($event)" type="submit">finish</a>
                        <a *ngIf="hidebutton(order.status)" class="btn btn-danger btn-sm" id={{order.id}} (click)="cancel($event)" type="submit">cancel</a>


                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>