<body>

    <div class="container">
        <div style="text-align:right">
            <a class="btn btn-default btn-lg" id="inp" type="submit" [routerLink]="['/addorder']">New Order</a>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Restourants</th>
                    <th>Invited</th>
                    <th>Joined</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Macdonald's</td>
                    <td>50</td>
                    <td>20</td>
                    <td>finished</td>
                    <td>
                        <a class="btn btn-default btn-sm" id="inp" type="submit" [routerLink]="['/vieworder']">View</a>
                        <a class="btn btn-default btn-sm" id="inp" type="submit">finish</a>
                        <a class="btn btn-danger btn-sm" id="inp" type="submit">cancel</a>


                    </td>
                </tr>

            </tbody>
        </table>
    </div>