/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */


/*
 * General styles
 */

body,
html {
    /*height: 100%;*/
    /*background-repeat: no-repeat;*/
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
    background-size: 100% 100%;
}

.main {
    /*margin-top: 70px;*/
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #d3d3d3;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #F7F7F7;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    /*margin-top: 30px;*/
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}

.login-button {
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.login-button:hover,
.btn.login-button:active,
.btn.login-button:focus {
    background-color: black;
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.error {
    color: red;
}