<div class="container">
    <div class='col-md-1'></div>


    <div class="col-md-10">
        <label for="inputlg">Group Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
            <input class=" form-control input-lg" id="inputlg" type="text"></div>


        <label for="inputlg"></label>
        <div style="text-align:right">



            <input class="btn btn-default btn-lg" id="inp" type="submit" value="Add Group"></div>
    </div>
</div>
<br/>

<div class="container">
    <div class='col-md-1'></div>
    <div class="panel panel-default col-md-4">
        <div class="header">
            <div class='glyphicon glyphicon-list-alt'> </div>My Groups
        </div>
        <hr/>
        <div class="panel-body">

            <table class="table table-hover col-md-4">

                <tbody>
                    <!--foor looop-->
                    <tr>
                        <td>group 1</td>
                        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>

                    </tr>
                    <tr>
                        <td>group 2</td>
                        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
                    </tr>
                    <!---->
                </tbody>
            </table>


        </div>
    </div>


    <div class='col-md-1'></div>

    <div class="panel panel-default col-md-5">
        <div class="header">
            <div class=''> </div>
            Group name [static ]</div>
        <hr/>
        <div class="panel-body">
            <div class="container">



                <div class="col-md-4">
                    <label for="inputlg">username</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
                        <input class=" form-control input-lg" id="inputlg" type="text"></div>


                    <label for="inputlg"></label>
                    <div style="text-align:right">



                        <input class="btn btn-default " id="inp" type="submit" value="Add To Group"></div>
                    <div>
                        <div class='glyphicon glyphicon-user'> </div>
                        Group members</div>
                    <!--forloop-->
                    <hr/>
                    <div class="media">
                        <div class="media-left">
                            <img src="../assets/u.png" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe <small><i>member</i></small></h4><button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>

                        </div>

                    </div>


                    <!---->
                    <hr/>
                    <div class="media">
                        <div class="media-left">
                            <img src="../assets/u.png" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe <small><i>owner</i></small> </h4><button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>

                        </div>

                    </div>
                    <!---->
                </div>
            </div>
        </div>


        <div class='col-md-1'></div>
    </div>
</div>