<div class="container">
    <div class='col-md-1'></div>


    <div class="col-md-10">
        <label for="inputlg">Group Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
            <input class=" form-control input-lg" id="inputlg" [(ngModel)]="addedgroupname" type="text" required></div>

        <p class="msg">{{msg}}</p>
        <p class="error">{{error}}</p>
      <label for="inputlg"></label>
        <div style="text-align:right">



            <input class="btn btn-default btn-lg" id="inp" type="submit" value="Add Group" (click)="addgroup()"></div>
    </div>
</div>
<br/>

<div class="container">
    <div class='col-md-1'></div>
    <div class="panel panel-default col-md-4">
        <div class="header">
            <div class='glyphicon glyphicon-list-alt'> </div>My Groups
        </div>
        <hr/>
        <div class="panel-body">

            <table class="table table-hover col-md-4">

                <tbody>
                    <!--for loop-->
                    <tr *ngFor="let group of groups.owner">
                        <td (click)="onclickedmy(group)">{{group.name}}</td>
                        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove" id={{group._id}} (click)="deletegroup(group._id)" type="submit"></button>

                    </tr>


                    <tr *ngFor="let group of groups.member">
                        <td (click)="onclickedin(group)">{{group.name}}</td>


                    </tr>
                    <!---->


                </tbody>
            </table>


        </div>
    </div>


    <div class='col-md-1'></div>
    <app-groupdetails [groupselected]="groupselected" [owner]="owner"></app-groupdetails>
</div>
