<div class="container">
    <div class='col-md-1'></div>


    <div class="col-md-10">
        <label for="inputlg">Group Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></span>
            <input class=" form-control input-lg" id="inputlg" type="text"></div>


        <label for="inputlg"></label>
        <div style="text-align:right">



            <input class="btn btn-default btn-lg" id="inp" type="submit" value="Add Group"></div>
    </div>
</div>
<br/>

<div class="container">
    <div class='col-md-1'></div>
    <div class="panel panel-default col-md-4">
        <div class="header">
            <div class='glyphicon glyphicon-list-alt'> </div>My Groups
        </div>
        <hr/>
        <div class="panel-body">

            <table class="table table-hover col-md-4">

                <tbody>
                    <!--foor looop-->
                    <tr>
                        <td>group 1</td>
                        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>

                    </tr>
                    <tr>
                        <td>group 2</td>
                        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
                    </tr>
                    <!---->


                </tbody>
            </table>


        </div>
    </div>


    <div class='col-md-1'></div>
    <app-groupdetails></app-groupdetails>
</div>