<div class="panel panel-default col-md-5" *ngIf="groupselected">
    <div class="header">
        <div class=''> </div>
        {{ groupselected?.name}}</div>
    <hr/>
    <div class="panel-body">
        <div class="container">



            <div class="col-md-4">
                <div *ngIf="owner">
                    <label for="inputlg">username</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
                        <input class=" form-control input-lg" id="inputlg" type="text" [(ngModel)]="addeduser"></div>


                    <label for="inputlg"></label>
                    <div style="text-align:right">



                        <input class="btn btn-default " id="inp" type="submit" value="Add To Group" (click)="addtogroup()"></div>
                    <div>
                        <p class="error">{{error}}</p>
                        <p class="msg">{{msg}}</p>
                        <div class='glyphicon glyphicon-user'> </div>
                        Group members</div>
                    <!--forloop-->
                </div>
                <hr/>
                <div class="media">
                    <div class="media-left">
                        <img src="data:image/png;base64,{{groupselected?.owner.avatar}}" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{groupselected?.owner.username}} <small><i>owner</i></small></h4>

                    </div>

                </div>


                <!---->
                <hr/>
                <div class="media" *ngFor="let member of groupselected?.members">
                    <div class="media-left">
                        <img src="data:image/png;base64,{{member.avatar}}" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{member?.username}} <small><i>member</i></small> </h4><button *ngIf="owner" class="btn btn-danger btn-sm glyphicon glyphicon-remove" (click)="deleteuserfromgroup(member._id)"></button>

                    </div>

                </div>
                <!---->
            </div>
        </div>
    </div>


    <div class='col-md-1'></div>
</div>