<div class="container">

    <div class="panel panel-default col-md-5">
        <div class="header">
            <div class='glyphicon glyphicon-list-alt'> </div> Latest orders
        </div>
        <hr/>
        <div class="panel-body">Panel Content</div>
    </div>


    <div class='col-md-1'></div>

    <div class="panel panel-default col-md-5">
        <div class="header">
            <div class='glyphicon glyphicon-user'> </div>
            Friends' Activities</div>
        <hr/>
        <div class="panel-body">Panel Content</div>


        <div class='col-md-1'></div>
    </div>
</div>